* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    background-color: rgb(103, 83, 83);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content {
    text-align: center;
    background-color: rgb(35, 35, 59);
    height: 60vh;
    width: 80vw;
    padding-top: 20vh;
    border: 4px solid rgb(233, 174, 174);
    border-radius: 1vh;
    margin-left: 2vw;
}

input {
    height: 5vh;
    min-width: 32px;
    padding: 5px;
}

button {
    height: 5vh;
    min-width: 8vw;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 40px;
}

h1 {
    color: rgb(248, 237, 246);
    margin-top: 50px;
    text-align: center;
}

span {
    font-size: 24px;
    font-weight: bold;
}

p {
    margin: 30px;
    font-size: larger;
    color: rgb(112, 20, 225);
    font-size: 32px;
    font-weight: bold;
}